/*=======Підключення шрифтів=======*/
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");





/* body {
	background-color: #3C4242;
} */

.wrapper {
	overflow: clip;
	min-height: 100%;
} 




/* ---------------------основні стилі------------------ */
.header {
	max-width: 1440px;
	padding: 34px 100px;
	background-color: #fff;
	margin: 0 auto;
}
.header__container {
	max-width: 1240px;
}
.header__body {
	display: flex;
}

 /* logo */
.header__logo {
	margin-right: 163.84px;
	width: 91px;
	height: 45px;
}
.header__logo img {
	max-width: 100%;
}

/* search */
.header__search {
	padding: 12px 48px;
	border-radius: 8px;
	background-color: #F6F6F6;
	display: flex;
	align-items: center;
	color: #807D7E;
	font-family: 'causten-medium';
	font-size: 18px;
	font-weight: 500;
	transition: 0.5s;
	margin-right: 210px;
}
.header__search img {
	margin-right: 12px;	
}
.header__search:hover {
	background-color: #8A33FD;
	color: #FFF;
}


/* language */
.header__language {
	margin-right: 60px;
}
.language:hover .language__list2  {  /* показали список */
	visibility: visible;
	cursor: pointer;
}
.language {
	display: flex;
	align-items: center;
}
.language::after { /* ставимо галочку img */
	content: "";
	display: inline-block;
	background: url(../img/row.svg);
	width: 10px;
	height: 5px;
	padding: 9px 7px;
	background-position: center;
	background-repeat: no-repeat;
}

.language__list {
	width: 170px;
	height: 22px;
	margin-right: 12px;
}
.language__link {
	color: #333;
	font-family: 'causten-regular';
	font-size: 18px;
}

.language__list2 { /* сховали список */
	visibility: hidden;
}
.language__link2 {
	color: #333;
	font-family: 'causten-regular';
	font-size: 18px;
}


/* buttons */
.header__buttons {
	display: flex;
}
.header__button {
	padding: 12px 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}
.header__button--color {
	border-radius: 8px;
	background-color: #8A33FD;
	color: #FFF;
	font-family: 'causten-medium';
	font-size: 18px;
	font-weight: 500;
	margin-right: 29px;
	width: 140px;
	height: 46px;

}
.header__button--color:hover {
	color: #8A33FD;
	background-color: #FFF;
	border: 1px solid #3C4242;
}
.header__button--white {
	border-radius: 8px;
	border: 1px solid #3C4242;
	color: #8A33FD;
	background-color: #FFF;
	font-family: 'causten-medium';
	width: 156px;
	height: 46px;
}
.header__button--white:hover {
	background-color: #8A33FD;
	color: #FFF;
}

/* -----------------------------header------------------------------ */


/* -----------------------categories------------------------------ */
.categories {
	padding: 50px 0px;
}
h1 {
	color: #3C4242;
	font-family: 'CoreSansC-65Bold';
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px; /* 98.529% */
	letter-spacing: 0.68px;
	margin-bottom: 70px;
}
h1::before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 30px;
	background-color: #8A33FD;
	margin-right: 20px;
	border-radius: 10px;
}


.categories__container {
	max-width: 1240px;
	margin: 0 auto;
}
.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.products__column {
	padding: 0px 25px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%; /* бо 4 колонки */
	margin-bottom: 50px;
}
.products__item {
}
.item-product {
	display: flex;
	flex-direction: column;
}
.item-products__image {
	overflow: hidden;
	border-radius: 10px;
}
.item-products__image img {
	max-width: 100%;
}

.item-products__image:not(:last-child){
	margin-bottom: 15px;
}

.item-product__body {
	display: flex;
	flex-grow: 1;
}
.item-product__content {
	flex-grow: 1;
}
.item-product__title {
	color: #2A2F2F;
	font-family: 'causten-semi-bold';
	font-size: 17.875px;
	font-weight: 700;
	line-height: 27.93px; /* 156.25% */
	letter-spacing: -0.715px;
}
.item-product__title:not(:last-child){
	margin-bottom: 10px;
}

.item-product__link-title {
}
.item-product__text {
	color: #7F7F7F;
	font-family: 'causten-medium';
	font-size: 13.407px;
	font-weight: 500;
	line-height: 27.93px; /* 208.333% */
	letter-spacing: -0.536px;
}
.item-product__link {
	align-self: flex-start;
	min-height: 30px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 18px;
	background-image: url(../img/стрелка.svg) center no-repeat;
}